@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.about_container {
  width: 100%;
  background: #fff;
  font-family: "Roboto", sans-serif;
  padding: 5% 0;
}
.about_container .about_header {
  width: 100%;
  padding: 10px 0;
}
.about_container .about_header h3 {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 3px 3px #c70039;
  transform: rotate(0deg);
}
.about_container .about_body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4% 10%;
}
.about_container .about_body img {
  width: 400px;
  border-radius: 5px;
  height: 100%;
}
.about_container .about_body .second {
  width: 700px;
  height: 400px;
  padding: 10px 30px;
  margin: 20px;
}
.about_container .about_body .second h3:nth-child(1) {
  font-size: 2rem;
}
.about_container .about_body .second h3:nth-child(2) {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.about_container .about_body .second h3:nth-child(2) span {
  color: #fff;
  padding: 0 5px;
  position: relative;
  -webkit-text-stroke: 0.05vw #fff;
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 5px;
}
.about_container .about_body .second h3:nth-child(2) span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 5px;
  width: 0%;
  height: 100%;
  color: #c70039;
  border-right: 5px solid #c70039;
  -webkit-text-stroke: 0.05vw #c70039;
  overflow: hidden;
  font-weight: bold;
  animation: webAni 4s linear infinite;
}

@keyframes webAni {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}

.about_container .about_body .second P {
  font-size: 1.05rem;
  text-align: left;
  width: 100%;
}
.about_container .about_body .second a {
  display: block;
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 2px solid #c70039;
  color: #fff;
  background-color: #c70039;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
  border-radius: 7px;
  font-size: 1.1rem;
  box-shadow: 0 0 3px #555;
}
